body{
	margin:0px;
	padding: 0px;
	background-color:rgb(229,227,223);
	font-family:Sans-Serif;
}

div#header{
	padding: 30px;
	background-image: url("baseball.jpg");
	border-bottom: 2px solid orange;
	
}
div#header p{
		color: white;
		display:inline-block;
}
div#header p.title{
		font-size: 200%;
		font-weight:bold;
		
}
div#footer{
	border-top: 2px solid #666;
	padding: 30px;
	color: #666;
}
